$fontPrimmary: 'Alata', sans-serif;
$fontSecundary: 'Josefin Sans', sans-serif;

$sizeBody: 1.5rem;

$lineHeightParagraph: 2.5rem;

$titles: 4rem;
$titlesTwo: 3.5rem;
$textIntoImg: 2.5rem;

$weightJosefin: 300;
$weightAlata: 400;